NODE_ENV=development
PORT=8080
APP_PUBLIC_URL=https://scania.generandoideas.com

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/scania_auth?schema=public

JWT_SECRET=
JWT_EXPIRES_IN=7d
COOKIE_DOMAIN=

CORS_ORIGINS=https://scania-mexico.myshopify.com,https://scania.generandoideas.com

SHOPIFY_STORE_DOMAIN=scania-mexico.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2025-01

RESEND_API_KEY=
RESEND_FROM_EMAIL=notificaciones@generandoideas.com
